h1 {
	color: white;
	font-size: 32px;
	padding-left: 48px;
	padding-top: 5.5vh;
	font-family: "Arial";
}

h2 {
	padding: 12px;
	margin: 12px;
	font-size: 36px;
	font-family: "Arial";
}

img {
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

#topbar {
	background-color: #ca4fff;
	width: 99vw;
	height: 15vh;
}

#titlebar {
	background-color: #ac4fe1;
	width: 30vw;
	height: 15vh;
}

#tablecenter {
	width:70%;
	margin-left:15%;
	margin-right:15%;
}

table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}
html, body {
	margin: 0;
	padding: 0;
}

p {
	margin-left: 60px;
	font-family: "Arial";
	font-size: 18px;
}

hr {
	width: 80%;
}

body {
	background-color: white;
}